body {
  margin: 0;
}

* {
  outline: 0;
  font-family: Arial, Helvetica, sans-serif;
}

::-webkit-scrollbar {
  width: 0;
}

.wrapper {
  width: 100%;
  height: 100vh;
  background: #e9ebee;
}

.nav {
  width: 150px;
  height: 100vh;
  position: absolute;
  background-color: #424244;
  top: 0;
  -webkit-transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.5s;
  transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.5s;
  left: -150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nav section {
  width: 100%;
  height: 50%;
  position: absolute;
  top: 110px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.nav section .li {
  height: 16.67%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  color: #1d1d20;
}

.nav section .li:hover {
  background: #59595a;
  color: #e9ebee;
}

.nav h5 {
  margin-top: 80px;
  color: #e9ebeec9;
}

.btn-nav,
.btn-nav2 {
  border: 0;
  width: 80px;
  height: 50px;
  position: absolute;
  margin-top: 15px;
  margin-left: 30px;
  cursor: pointer;
  border-radius: 8px;
  background: #424244;
  color: #e9ebee;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  font-size: 150%;
}

.btn-nav:hover,
.btn-nav2:hover {
  background: #59595a;
}

.btn-nav2 {
  background: #59595a;
  margin: 0;
  margin-top: 15px;
}

.active-art {
  position: absolute;
  width: 80%;
  height: 75%;
  margin-left: 16%;
  margin-top: 5%;
  border-radius: 4px;
  -webkit-transition: cubic-bezier(0.455, 0.03, 0.515, 0.955) 0.5s;
  transition: cubic-bezier(0.455, 0.03, 0.515, 0.955) 0.5s;
}

.col-3 {
  width: 30%;
  background: white;
  -webkit-box-shadow: 0px 0px 4px rgba(43, 43, 43, 0.158);
          box-shadow: 0px 0px 4px rgba(43, 43, 43, 0.158);
}

.row {
  width: 100%;
  height: 30%;
  background: white;
  margin-top: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.row .col {
  width: 30%;
  height: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.row .col b {
  margin-top: -10%;
}

.row .col:nth-child(1) {
  color: #ff0040;
}

.row .col:nth-child(2) {
  color: #2cf386;
}

.row .col:nth-child(3) {
  color: #1a5ff3;
}

.row:nth-child(2) {
  margin-top: 3%;
  height: 60%;
}

.left {
  height: 100%;
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.left ul {
  width: 100%;
  height: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.left ul li {
  list-style: none;
  font-size: 70%;
}

.right {
  width: 70%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.chart {
  width: 80%;
  height: 40%;
}

.cont {
  width: 100%;
  height: 100%;
  background: white;
  margin-top: 10%;
  overflow: scroll;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.cont .head {
  width: 70%;
  height: 10%;
  margin-top: 10%;
  border-radius: 6px;
  background: rgba(243, 38, 72, 0.103);
  color: #f32648;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cont .head .action {
  width: 40%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cont .head .action img {
  width: 20%;
  -webkit-transition: cubic-bezier(0.55, 0.055, 0.675, 0.19) 0.25s;
  transition: cubic-bezier(0.55, 0.055, 0.675, 0.19) 0.25s;
  cursor: pointer;
}

.cont .head .action img:hover {
  width: 40%;
}

.body {
  width: 85%;
  height: 80%;
  margin-top: 5%;
  overflow: scroll;
}

.body th,
.body td {
  padding: 8px;
}

.body table {
  width: 100%;
  border-radius: 5px;
  font-size: 12px;
  font-weight: normal;
  border: none;
  border-collapse: collapse;
  width: 100%;
  max-width: 100%;
  white-space: nowrap;
}

.body table th {
  background: #f14242;
  font-size: 120%;
  color: white;
}

.body table th:nth-child(3),
.body table th:nth-child(1) {
  width: 10%;
}

.body table tr:nth-child(even) {
  background: #e9ebee;
}

.body table td:nth-child(3),
.body table td:nth-child(1) {
  text-align: center;
}

.wrapper-sub {
  height: 10%;
  width: 70%;
  margin-left: 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.wrapper-sub button,
.wrapper-sub input {
  border: 0;
  height: 100%;
}

.wrapper-sub input {
  background: rgba(38, 76, 243, 0.103);
  padding: 12px;
  color: #4c26f3;
}

.wrapper-sub button {
  background: rgba(38, 185, 243, 0.918);
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 6px;
  padding-bottom: 12px;
  padding-left: 3%;
  padding-right: 3%;
  color: white;
  border-radius: 4px;
}

.wrapper-body {
  width: 64%;
  height: 80%;
  margin-left: 18%;
  margin-top: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.wrapper-body input,
.wrapper-body select,
.wrapper-body button {
  width: 80%;
  height: 15%;
  padding-left: 5%;
  padding-right: 5%;
  font-size: 90%;
  border: 0;
  border-radius: 4px;
  border: 0.5px solid rgba(0, 0, 0, 0.13);
  color: #8a7575;
  margin-top: 8px;
}

.wrapper-body button {
  background: #f17929;
  color: white;
  cursor: pointer;
  -webkit-transition: cubic-bezier(0.645, 0.045, 0.355, 1) 0.5s;
  transition: cubic-bezier(0.645, 0.045, 0.355, 1) 0.5s;
}

.wrapper-body button:hover {
  background: #f5a91c;
}
/*# sourceMappingURL=dashboard.css.map */